<div class="container" style="padding-top: 60px;">
  <div class="page-header">
    <h1><%= @current_region.name %></h1>
    <p class="lead">Browse casual encounters from people nearby.</p>
    <ul class="home_category_list">
      <% @current_region.subregions.each do |subregion| %>
      <li><a href="/<%=subregion.shortname%>"><%= subregion.name %></a></li>
      <% end %>
    </ul>
  </div>
  <section>
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div id="main_search_box">
            <form method="get" action="/posts">
              <input type="text" name="search" id="main_search" />
              <button>Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="span4">
          <div class="well">
            <h4>Categories</h2>
            <ul class="home_category_list">
              <% @categories.each do |cat| %>
              <li><a href="/categories/<%=cat.category%>"><%= cat.category %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <section>

  </section>
</div>
